.ghem-logo {
    font-size: 5rem;
    position: absolute;
    top: 0px;
    line-height: 5rem;
    color: #fa8c16;
    transition: all 500ms;
    &:hover {
        color: #fa541c;
    }
}

.header-scrolled {
    .ghem-logo {
        font-size: 2rem;
        position: relative;
        top: auto;
        line-height: 2rem;
    }
}