.ghem-logo {
  font-size: 3rem;
  position: absolute;
  top: 10px;
  line-height: 3rem;
  color: #fa8c16;
  transition: all 500ms;
  background: #fff;
  padding: 10px 15px;
  @extend .border-grad;
  &:hover {
    color: #fa541c;
  }
}

.border-grad {
  border: 5px solid orange;
  border-image-source: linear-gradient(orange, orangered);
  border-image-slice: 20;
}

.header-scrolled {
  .ghem-logo {
    font-size: 2rem;
    position: relative;
    top: auto;
    line-height: 2rem;
    background: transparent;
    border: none;
    &:focus {
      text-decoration: none;
    }
  }
}

.nav-menu {
  li {
    a {
      font-weight: bold;
      &:focus {
        text-decoration: none;
      }
    }
  }
}